
@use "./home";
@use "./gameDetails";
@use "./nav";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    &::-webkit-scrollbar{
        width: .5rem;
    }
    &::-webkit-scrollbar-thumb{
        background-color: darkgrey;
    }
    &::-webkit-scrollbar-track{
        background: white;
    }
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background:   #141414;
    margin-bottom: 2rem;
}

h2{
    font-size: 3rem;
    font-family: 'Abril Fatface',  serif;
    font-weight: lighter;
    color: #333;
}

h3{
    font-size: 1.3rem;
    color: #333;
    padding: 1.5rem 0;
}

p{
    font-size: 1.2rem;
    line-height: 2;
    color: #696969
}

a{
    text-decoration: none;
    color: #333;
}

img{
    display: block;
}

input{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

//

.container{
    width: 90vw;
    margin-inline: auto;
    padding-block: 1rem;
}

swiper-container {
    width: 100%;
    min-height: 200px;
    text-align: center;
}

swiper-slide {
    background-color: rgb(4 47 46);
    color: #fff;
    font-size: 25px;
    border-radius: 1rem;
}




